img {
    width: 35%;
    height: auto;
}

header {
    color:white;
    background-color:rgb(45, 63, 141);
    text-align: center;
}

footer {
    color:white;
    background-color:rgb(45, 63, 141);
    text-align: center;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

#caption {
    font-style:italic;
    color:gray;
}

.white-text {
    color:white;
}